<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="XMLConfigTest"
	packages="org.apache.logging.log4j.test">
	<Properties>
		<Property name="logPath">${sys:jmediaOrganizer.home}\logs</Property>
		<Property name="fileName">${logPath}\%d{yyyy-MM-dd}\std-%d{HH:mm:ss}.log</Property>
	</Properties>
	<ThresholdFilter level="trace" />

	<Appenders>
		<Console name="STDOUT">
			<PatternLayout pattern="%m%n" />
		</Console>
		<RollingFile name="File"
			fileName="${fileName}"
			filePattern="${fileName}.gz">
			<PatternLayout>
				<pattern>%p %C{1} [%t] %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="com.nlstn.jmediaOrganizer" level="trace"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="File" />
		</Logger>

		<Root level="error">
		</Root>
	</Loggers>

</Configuration>